@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="JP Project - Open Source IdentityServer4 Admin">
    <meta name="author" content="Bruno Brito">
    <meta name="keyword" content="ID4,IdentityServer4,AdminUI,UserManagement,Open,Source,MicroService,Identity,SSO">
    <title>JP Project - Open Source IdentityServer4 Admin</title>
    <!-- Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/images/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/images/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/images/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/images/favicon/site.webmanifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/images/favicon/safari-pinned-tab.svg")" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="@Url.Content("~/css/jp.min.css")" rel="stylesheet">
    @*<script asp-append-version="true" crossorigin="anonymous" src="~/js/app.insights.js"></script>*@
</head>
<body>
    <div class="bg-marketing text-center text-white p-3">
        💪💪💪 Please help us on Github. Give us a star ⭐️ 🙏🙏 ➡
        <iframe src="https://ghbtns.com/github-btn.html?user=brunohbrito&repo=JP-Project&type=star" frameborder="0" scrolling="0" width="160px" height="20px"></iframe>
    </div>
    <div class="app flex-row align-items-center">
        <div class="container-fluid">
            <div class="animated fadeIn">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/js/jp.min.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>